.languages-portrait {
  display: none;
}

.languages-landscape {
  display: block;
}

.languages-desktop {
  display: none;
}

.languages-tiny {
  display: none;
}

.languages-tiny-landscape {
  display: none;
}

.languages-ipad {
  display: none;
}

.languages-folder {
  display: none;
}

.MarineObservatory {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: normal;
    transform: scale(1, 1.5);
    -webkit-transform: scale(1, 1.5);
    -moz-transform: scale(1, 1.5);
    -o-transform: scale(1, 1.5);
    transform-origin: 0% 20%; 
    color: #605c5c;
}

.intro {
  text-align: justify;
  font-size: 14px;
  width: 100%;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.landscape {
   height: 75px;
   width: 100px;
}

.submit {
    width: 80px;
    font-size: 20px;
    margin-top: 10px;
}
