<!doctype html>
<html lang="en">
<html>
	<head>
<title>SST & MHW's</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" >
                <link rel="icon" href="../static/favicon.ico">
    <link rel="stylesheet" type="text/css" media='(min-width: 1024px)' href="../static/css/desktop-mhw.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 768px) and (max-width: 1024px)' href="../static/css/ipad-mhw.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 540px) and (max-width: 768px)' href="../static/css/duo-mhw.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait)' href="../static/css/mobile-portrait-mhw.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 700px) and (max-height: 575.98px) and (orientation: landscape)' href="../static/css/mobile-landscape-mhw.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-width: 700px) and (max-height: 575.98px) and (orientation: landscape)' href="../static/css/tiny-landscape-mhw.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 1px) and (max-device-width: 320px) and (orientation: portrait)' href="../static/css/mobile-portrait-mhw.css?ref=v1" />
<link rel="stylesheet" href="../static/css/simplegrid.css" />
<link rel="stylesheet" href="../static/css/leaflet.css" />
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/leaflet.js"></script>
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../static/css/Leaflet.Coordinates-0.1.5.css" />
<script type="text/javascript" src="../static/js/Leaflet.Coordinates-0.1.5.min.js"></script>
<style>
#map { height: 400px; width: 100%;}
</style>
<script>

var marker = undefined;
var update_marker_location = function(){
    var newLatLng = new L.LatLng(parseFloat($("#latitude").val()),parseFloat($("#longitude").val()));
    marker.setLatLng(newLatLng); 
}

var create_map = function(){
    map = L.map('map', {
    zoom: 4.7,
		    minZoom: 4.7,
		    maxZoom: 4.7,
    center: [{{latitude}}, {{longitude}}]
    });
    var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);
  marker = L.marker([{{latitude}}, {{longitude}}],{draggable: true}).addTo(map);
  marker.on('drag',function(e){
      $("#latitude").val(e.latlng.lat);
      $("#longitude").val(e.latlng.lng);
   });

  var model_polygon = L.polygon({{polygon}}, {fill: false, color:"#ff0000", weight: 1}).addTo(map);


  $("#latitude").change(update_marker_location);
  $("#longitude").change(update_marker_location);
   {% if shrink_domain %}
    var setShrinkDomain = function(bounds){
	    var northwest = bounds.getNorthWest();
	    var southeast = bounds.getSouthEast();
       $("#northwest_lat").val(northwest.lat);
       $("#northwest_lon").val(northwest.lng);
       $("#southeast_lat").val(southeast.lat);
       $("#southeast_lon").val(southeast.lng);
    }
    var areaSelect = L.areaSelect({width:map.getSize().x - 10, height: map.getSize().y - 10});
    areaSelect.on("change", function() {
     setShrinkDomain(this.getBounds());
    });
    areaSelect.addTo(map);
    setShrinkDomain(areaSelect.getBounds());
   {% endif %}
};

$(document).ready(function(){
    $("input:text").focus(function() { $(this).select(); } );
   create_map();
   $("#project_name").focus();
});

    function radioListener() {

        var lon = document.getElementById('longitude');
        var lat = document.getElementById('latitude');
        var rad = document.buoys.buoy;

        for (var i = 0; i < rad.length; i++) {
            rad[i].addEventListener('click', function() {
                   var coordinates = this.value.split(',');
                   lat.value = coordinates[0];
                   lon.value = coordinates[1];
    var newLatLng = new L.LatLng(parseFloat($("#latitude").val()),parseFloat($("#longitude").val()));
    marker.setLatLng(newLatLng); 
                                 });
        }

    }
</script>
</head>

<body onload="radioListener()">
        <div class="grid">
            <div class="col-1-1">
                <div class="content">
                    <h1 class="title"> SEA SURFACE TEMPERATURE & MARINE HEAT WAVES </h1> 
                    <hr>
                </div> 
            </div>
        </div>
	
    	<div class="grid">
    		<div class="col-1-1">
    			<div class="content">
                               <p class="intro" > 
                                  Select a site within the rectangle on the map to obtain the historical (1982 - present)
                                  Sea Surface Temperature and Marine Heat Wave events from the 
				  <a href="https://doi.org/10.48670/moi-00165">Operational Sea Surface Temperature and Ice Analysis</a> 
				  run by Met Office and delivered by IFREMER.
                               </p>
                         </div>
                   </div>
         </div>
	<div class="grid">
		<div class="col-1-2">
			<div class="content" style="height:400px">
                               <div id="map"></div>
			</div>
		</div>
		<div class="col-1-2"> <div class="content">


<form name="buoys">
	 
	         <p class="intro" >
		 Select a point on the map <b>or</b> use one of the shortcuts below. To select a point on the map,
		    <b> drag and drop </b> the marker <b>or</b> manually enter the latitude and longitude coordinates.
		 </p>

  <input type="radio" id="M2" name="buoy" value="53.4836,-5.4302" onclick="javascript:radioListener();"/>
  <label class="radiobutton-label" for="M2">M2 (53.4836ºN, 5.4302ºW)</label><br>

  <input type="radio" id="M3" name="buoy" value="51.2160,-10.5483" onclick="javascript:radioListener();"/>
  <label class="radiobutton-label" for="M3">M3 (51.2160ºN, 10.5483ºW)</label><br>

  <input type="radio" id="M4" name="buoy" value="55.0000,-9.9991" onclick="javascript:radioListener();"/>
  <label class="radiobutton-label" for="M4">M4 (55.0000ºN, 9.9991ºW)</label><br>

  <input type="radio" id="M5" name="buoy" value="51.6904,-6.7043" onclick="javascript:radioListener();"/>
  <label class="radiobutton-label" for="M5">M5 (51.6904ºN, 6.7043ºW)</label><br>

  <input type="radio" id="M6" name="buoy" value="53.0748,-15.88135" onclick="javascript:radioListener();"/>
  <label class="radiobutton-label" for="M6">M6 (53.0748ºN, 15.8813ºW)</label><br>

  <input type="radio" id="Mace Head" name="buoy" value="53.3306,-9.9326" onclick="javascript:radioListener();"/>
  <label class="radiobutton-label" for="Mace Head">Mace Head (53.3306ºN, 9.9326ºW)</label><br>

</form>

	         <p class="intro" >
		     Would you like to have Marine Heat Waves and Cold Spells displayed?
		 </p>

                    <form method="POST" action="/">

                            <input type="checkbox" id="MHW" name="MHW" value="MHW" checked>
			    <label for="MHW" class="checkbox-label"> 
				    Show Marine Heat Waves </label> &emsp;
                            <input type="checkbox" id="CS" name="CS" value="CS" checked>
			    <label for="CS" class="checkbox-label">
				    Show Cold Spells </label> <br>

	         <p class="intro" style="color:red; font-weight:bold;">
		     {{error}}
		 </p>

                </div>
                </div>
	</div>


	<div class="grid">
		<div class="col-1-4">
			<div class="content">
                                <input class="form-control" required type="number" size="20" step="any" id="latitude" name="latitude" value="{{latitude}}" >
			</div>
		</div>

		<div class="col-1-4">
			<div class="content">
                                <input class="form-control" required type="number" size="20" step="any" id="longitude" name="longitude" value="{{longitude}}" >
			</div>
		</div>
	</div>

        <div class="grid">
            
            <div class="col-5-12">
                <div class="content"></div>
            </div>

            <div class="col-1-6">
                <div class="content">
                       	<input class="submit" type="submit" value="Submit" name="submit" />
                </div>
            </div>

            <div class="col-5-12">
                <div class="content"></div>
            </div>

         </div>
	
	 <br>
   
        <div class="grid">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>
	
    	<div class="grid">
    		<div class="col-1-1">
    			<div class="content">
                               <p class="intro" > 
			       <b> In addition</b>, check the following products of the latest (14 days) SST observations below:
                               </p>
                         </div>
                   </div>
         </div>

    	<div class="grid">
    		<div class="col-1-3">
    			<div class="content">
				<input class="button" type="submit" value="Sea Surface Temperature" name="SSTMAP" />
                         </div>
                </div>
    		<div class="col-1-3">
    			<div class="content">
				<input class="button" type="submit" value="SST Anomalies" name="ANMMAP" />
                         </div>
                </div>
    		<div class="col-1-3">
    			<div class="content">
				<input class="button" type="submit" value="Marine Heat Waves" name="MHWMAP" />
                         </div>
                </div>
         </div>

                    </form>

        <div class="grid">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

        <div class="grid">
		<div class="col-1-3 mobile-col-1-3"> <div class="content"> </div> </div>
            <div class="col-1-2 mobile-col-1-2">
    		<div class="content unpadded">
                    <div>
                        <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" alt="Marine Institute" class="responsive" >
                            </a> </p> </div> </div> </div>			
        </div>        
</body>
</html>
